<p *ngIf="formError" class="error">{{formError}}</p>

<form [formGroup]="shopForm" (ngSubmit)="onSubmit()" class="shop-form">
  <mat-form-field >
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field >
    <mat-label>Location</mat-label>
    <input matInput formControlName="location">
  </mat-form-field>

  <button mat-flat-button color="primary" type="submit" [disabled]="isLoading">
    <span *ngIf="!isLoading && shop == undefined">Create shop</span>
    <span *ngIf="!isLoading && shop !== undefined">Update shop</span>
    <span *ngIf="isLoading">Loading...</span>
  </button>
</form>
