<mat-dialog-content>

  <div class="product__details">
    <div class="product__image">
      <img [src]="item.image" alt="Product" />
    </div>
    <div class="product__overview">
      <h1>{{ item.name }}</h1>
      <app-rating [value]="3"></app-rating>
      <hr />
      <h2>{{  formatUnits(item.price) }} ETH</h2>
      <hr />
      <h2>Overview</h2>
      <p>
        Etherlink is built on Tezos Smart Rollups, which are enshrined on the platform,
        meaning that they are implemented directly on layer 1 of the protocol.
        However, because Smart Rollups run in their own separate environments,
        they are not subject to the per-transaction gas fees of layer 1,
        only small fees when they publish their state to layer 1.
        At a load of 200TPS, you can expect an ERC-20 transaction to cost $0.001 on Etherlink.
      </p>
    </div>
    <div class="product__order">
      <p>
        FREE delivery <br />
        <strong>
          {{ Date() | date: 'fullDate' }}
        </strong>
      </p>
      <p>{{ item.availableQuantity > 0 ? 'In Stock' : 'Out of Stock' }}</p>
      <button class="product__buy" (click)="buyHandler()">Buy Now</button>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</mat-dialog-actions>
