<nav>
  <div class="nav__brand">
    <h1>Multivers</h1>
  </div>

  <input
    type="text"
    class="nav__search"
  />

  <ng-container *ngIf="account ;else notAuth">
      <ng-container *ngIf="shop$ | async as shop; else noShop">
        <button
          type="button"
          class="nav__connect">
          {{ shop.name }}
        </button>
        <ul class="nav__links">
          <li><button >Ajouter une categorie</button></li>
          <li><button >Ajouter un produit</button></li>
          <li><button >Copier le lien de la boutique</button></li>
        </ul>
      </ng-container>
    <ng-template #noShop>
      <button
        type="button"
        class="nav__connect">
        Create your shop
      </button>
    </ng-template>



  </ng-container>
  <ng-template #notAuth>
    <button
      type="button"
      class="nav__connect"
      (click)="connectHandler()">
      Connect
    </button>
  </ng-template>


</nav>


<main>
  <router-outlet></router-outlet>
</main>
