//.mat-toolbar {
//  display: flex;
//  justify-content: space-between;
//}
//
//main {
//  margin: 0 auto;
//  padding: 2rem;
//}
//
//.active {
//  background: rgba(0,0,0,.2);
//}



.mat-toolbar{
  background-color: cornflowerblue;
  color: white;
}
.mat-button{
  color: white;
}
.spacer{
  flex: 1 1 auto;
}
