<nav>
  <div class="nav__brand">
    <h1>Multivers</h1>
  </div>

  <input
    type="text"
    class="nav__search"
  />

  <ng-container *ngIf="account ;else notAuth">
      <ng-container *ngIf="shop$ | async as shop; else noShop">
        <button
          type="button"
          class="nav__connect">
          {{ shop.name }}
        </button>
        <ul class="nav__links">
          <li><a [routerLink]="'/'" >Shop</a></li>
          <li><a [routerLink]="'create-store'" >My Shop</a></li>
          <li><a [routerLink]="'store/category'" >My Categories</a></li>
          <li><a [routerLink]="'store/product'">My products</a></li>
        </ul>
      </ng-container>
    <ng-template #noShop>
      <a [routerLink]="'create-store'">
        <button
          type="button"
          class="nav__connect">
          Create your shop
        </button>
      </a>

    </ng-template>



  </ng-container>
  <ng-template #notAuth>
    <button
      type="button"
      class="nav__connect"
      (click)="connectHandler()">
      Connect
    </button>
  </ng-template>


</nav>


<main>
  <router-outlet></router-outlet>
</main>
