<ng-container *ngIf="isLoading$ | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-container>
<mat-toolbar color="primary">
  <span [routerLink]="['/']">Multivers Restaurant</span>
  <div class="spacer"></div>

  <button mat-button [routerLink]="['/']">Home</button>
  <ng-container *ngIf="vendorShop$ | async as vendorShop;">
    <button mat-button [routerLink]="['vendor', vendorShop.owner]">Visit Store: {{ vendorShop.name }}</button>
  </ng-container>
  <ng-container *ngIf="account ;else notAuth">
    <ng-container *ngIf="shop$ | async as shop; else noShop">
      <button mat-button [matMenuTriggerFor]="menu">My Shop</button>
      <mat-menu #menu="matMenu">
        <button  [routerLink]="'create-store'" mat-menu-item>Store</button>
        <button [routerLink]="'store/category'" mat-menu-item>Categories</button>
        <button [routerLink]="'store/product'" mat-menu-item>Products</button>
        <button [routerLink]="'store/orders'" mat-menu-item>Orders</button>
      </mat-menu>
    </ng-container>

    <ng-template #noShop>
      <button mat-button [routerLink]="['create-store']">Create your shop</button>
    </ng-template>
    <button mat-button [routerLink]="['orders']">Account</button>
  </ng-container>
  <ng-template #notAuth>>
  <button mat-button [routerLink]="['/store/product']">Login</button>
  </ng-template>


</mat-toolbar>


<main>
  <router-outlet></router-outlet>
</main>
