<div class="flex-container">
  <h1>
    Welcome to the Home Page of the <strong>Multivers Restaurant</strong>

  </h1>

  <p class="container">
    We are a restaurant that serves food from all over the multiverse. We have a wide variety of dishes that are sure to please any palate. Whether you're in the mood for something sweet, savory, or spicy, we have something for you. Our chefs are experts in creating delicious meals that will transport you to another world. So come on in and experience the flavors of the multiverse at the Multivers Restaurant!
  </p>

  <h2>Our Service</h2>

  <ul>
    <li>1- Create an account as Restaurant, Client</li>
    <li>2- Log in</li>
    <li>3- Browse our menu</li>
    <li>4- Place an order</li>
    <li>5- Enjoy your meal!</li>
  </ul>

  <h2>Search restaurant</h2>
<!--  angular  form ngModel-->
  <form  class="flex-container">
    <mat-form-field>
      <input matInput placeholder="Search for a restaurant" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="searchRestaurant()">Search</button>
  </form>

</div>
